*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #262626;  
    margin: 5vh;
    border: 2px solid red;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.snake{
    position: absolute;
    display: inline-block;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-color: royalblue;
}